<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img class="avatar" src="https://avatars3.githubusercontent.com/u/37505376?s=460&v=4" alt="Andrey Geondzhian">

      </div>



      <div class="footer-col footer-col-2">
        <ul class="pname">
          <li class="p-name">Andrey Geondzhian | PhD </li></ul>
        <p>Personal blog about physics and programming</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <br>
          <a href="https://github.com/geonda" target="_blank" class="symbol" title="circlegithub"></a>
          <a href="http://www.linkedin.com/in/geonda" target="_blank" class="symbol" title="circlelinkedin"></a>
          <a href="mailto:andrey.geondzhian@gmail.com" class="symbol" title="circleemail"></a>

          <!-- <a href="{{ site.data.social-media.email.href }}{{ site.data.social-media.email.id }}" title="Email me">Click here to send me an email!</a> -->
          <!-- <li><a href="https://github.com/geonda"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> </a></li>
          <li><a href="https://github.com/geonda"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg></a></li>
          <li><a href="mailto:andrey.geondzhian@gmail.com"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#mail"></use></svg></a></li></ul> -->
      </div>
    </div>

  </div>

</footer>
